<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NotificarBUG.Properties.Settings.ConnectionString"
            connectionString="Data Source=D:\Backup\Backup\NotificarBUG\NotificarBUG\bin\Debug\NotificarBUG_DB.sdf"
            providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>